<div class="card">
  <img style="text-align: center" alt width="100%" height="135" src="{{course.iconName}}">
  <div class="card-body">
    <p style="font-size: 16px; font-weight: bold">{{course.title}}</p>
    <p style="color: darkgrey">{{course.author.name}}</p>
    <p class="card-text">{{course.previewDescription}}</p>
  </div>
  <div class="card-footer">
    <strong>Graded:</strong>
    <small class="rating-result">
      <span *ngFor="let starId of [1,2,3,4,5]"
        class="{{calculateActiveModeByStarId(starId)}}">
      </span>
    </small>
    <strong>({{course.gradesQuantity}})</strong>
  </div>
</div>
