<nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightgrey">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="#">Courses Monitoring</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-2 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Themes</a>
        </li>
      </ul>

      <form class="container-fluid d-flex ps-0">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>

    <ul class="navbar-nav me-2 mb-2 mb-lg-0 justify-content-end">
      <li class="nav-item me-2">
        <a class="nav-link" href="#">Teachers</a>
      </li>
    </ul>

    <div class="d-grid gap-2 d-md-flex justify-content-end">
      <button type="button" class="btn btn-secondary justify-content-end me-2">Sign In</button>
      <button type="button" class="btn btn-primary justify-content-end me-5">Sign Up</button>
    </div>

  </div>
</nav>
